@model IEnumerable<Admin_Portal.Data.Link>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .background {
        background-color: lightblue;
    }

    .white {
        background-color: white;
    }

    .top {
        background-color: antiquewhite;
    }
</style>

    <h2>Links</h2>



    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </p>

    <p>

        @using (Html.BeginForm("Search", "Links", FormMethod.Get))
        {
        <p>
            @Html.DropDownList("searchtype", new SelectList(new[] { "Link_Name","Link_Type" }))
            @Html.DropDownList("searchop", new SelectList(new[] { "Starts With", "Contains", "Ends With" })):
            @Html.TextBox("searchtxt")
            <input type="submit" value="Filter" />
        </p>
    }

        <table class="table">
            <tr class="top">
                <th>
                    @Html.DisplayName("Link Name")
                </th>
                <th>
                    @Html.DisplayName("Link Type")
                </th>
                <th>
                    @Html.DisplayName("Edit")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="white">
                    <td>
                        @Html.DisplayFor(modelItem => item.Link_Name)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Link_Type)
                    </th>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.LinkID }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }

        </table>

        @if (ViewBag.FromSearch)
        {
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        }