@model IEnumerable<Admin_Portal.Data.Link>

@{
    ViewBag.Title = "linkAccess";
}

<style type="text/css">
    .background {
        background-color: lightblue;
    }

    .white {
        background-color: white;
    }

    .top {
        background-color: antiquewhite;
    }
</style>

    <h2>Links</h2>

        <table class="table">
            <tr class="top">
                <th>
                    @Html.DisplayName("Link Name")
                </th>
                <th>
                    @Html.DisplayName("Link Type")
                </th>
                <th>
                    @Html.DisplayName("Redirect")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                
                <tr class="white">
                    <td>
                        @Html.DisplayFor(modelItem => item.Link_Name)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Link_Type)
                    </th>
                    <td>
                        @Html.ActionLink("Redirect", "linkAccess", "Links", new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }

        </table>
